<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Clean and Dirty Room Classification</title>

</head>
<body>

	<h1><span>Clean and Dirty Room Classification</span></h1>

  <div style ="margin-top:15px;">
    <p><h4><span style="color:black"> Upload your image below </span></h4></p>
  </div>
  <div id = a , style="margin-top:25px;">
			<input type=file name = photo accept="image/*" onchange="loadFile(event)">
			<center> <img id="output" align = middle STYLE="TOP:160px; LEFT:87px; WIDTH:325px; HEIGHT:325px"/> </center>
      <script>
        var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        };
     </script>
		</div>

    <div id = b , style="margin-top:20px;">
      <input type="Submit" name="">
      
    </div>

    <form action="/predict">

    <button id='button' type="submit" class="btn btn-primary btn-block btn-large" style="font-size: 20px;"> Predict</button>
    </form>
             
    
</body>
</html> 