{% extends "bootstrap/base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Clean Room or Dirty Room</h2>      
    <!-- <p style="color:#fff;">How clean is the room?</p> -->
    <p><h4><span style="color:white"> Upload your image below to find out </span></h4></p>
  </div>
</div>

<div id = a , style="margin-top:25px;">
    <input type=file name = photo accept="image/*" onchange="loadFile(event)">
    <center> <img id="output" align = middle STYLE="TOP:160px; LEFT:87px; WIDTH:325px; HEIGHT:325px"/> </center>
<script>
var loadFile = function(event) {
var output = document.getElementById('output');
output.src = URL.createObjectURL(event.target.files[0]);
};
</script>
</div>

<div id = b , style="margin-top:20px;">
<input type="Submit" name="">

</div>

<form action="/predict">

{% for f in feature_names %}
  <br>
  {{ f }}
  <br>
  <input type="text" name="{{ f }}" value="{{x_input[loop.index0]}}">
{% endfor %}
<br>
<input type="submit" value="Submit" method="get">


</form>

<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Results</div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="text" name="namequery">
			<button type="submit" class="btn btn-primary">Predict</button>
			</form>

<!-- Main Input For Receiving Query to our ML --> 


      </div>
    </div>




{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}